<ion-view title="NewMenuCtrl">
  <ion-content class="padding"
  >
    <h1>The weather outside is {{albums.name}}</h1>
    <h2>The weather outside is {{albums.artist}}</h2>
    <h4>The weather outside is {{albums.url}}</h4>

    <div class="list">

    <form>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Artista:</span>
	    <input type="text" placeholder="Air" name="artistNameItem">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Album: </span>
	    <input type="text" placeholder="Air" name="artistAlbumItem">
	  </label>
	  <button class="button button-positive" onclick="NewMenuCtrlFunction">
	  button-positive
	  </button>
	</form>

	</div>

  </ion-content>
</ion-view>


